<link rel="stylesheet" type="text/css"
      href="{{ url_for('static',filename='styles/order.css') }}">
{% extends "page.html" %} {% block title %}Create Order{% endblock %} {% block content
%}

<div class="order-bar">
    <p class="subtitle">CREATE A NEW ORDER</p>
    <div method="POST">
        <div class="chart">
            <div class="from-where-column">
                <div class="data">
                    <p class="data-title">From?</p>
                    <div align="center">
                        <SELECT name="Restaurant" style="font-size:130%; text-align: center;">
                            {% for rest in rest_list %}
                            <OPTION value={{rest}}>{{rest_list[rest]}}
                            </option>
                            {% endfor %}
                        </SELECT>
                    </div>
                </div>

                <div class="data">
                    <p class="data-title">When?</p>
                    <div align="center">
                        <label for="time">
                        </label>
                        <input
                                type="time"
                                name="order_time"
                        />
                    </div>
                </div>
            </div>

            <div class="data payment">
                <p class="data-title">Payment By</p>
                <div class="checkboxes">
                    {% for pay_m in methods_list %}
                    <div>
                        <input class="check" type="checkbox"
                               value={{pay_m}}
                               name="mycheckbox"
                               style="margin-left:3%;">
                        <b style="font-size: 150%; margin-left:3%; font-family:candara light;">{{methods_list[pay_m]}}</b>
                        <p></p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="commission-people-column">
                <div class="data" align="center">
                    <p class="data-title">Commission</p>
                    <input
                            type="text"
                            name="commission"
                            style="width:90%; height:35%; border-radius: 13px; font-size:180%;"
                    />
                </div>

                <div class="data" align="center">
                    <p class="data-title">Max People</p>
                    <input
                            type="text"
                            name="participants_max_num"
                            style="width:90%; height:35%; border-radius: 13px; font-size:180%;"
                    />
                </div>

                <button type="submit" class="btn btn-default"
                        style="font-family:candara light;font-weight:800;font-size:150%;background-color:#00D748; border-color:#00D748; flex: 0.4; border-radius: 12px;">
                    CREATE ORDER
                </button>
            </div>

        </div>
    </div>
    </form>

</div>
{% endblock %}