
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <div class="input-group">
            Choose a Restaurant<SELECT name="rest_choice">
            {% for rest in rest_list %}
                <OPTION value={{rest}}>{{rest_list[rest]}}</option>
            {% endfor %}
        </SELECT>
            {% for pay_m in methods_list %}
                {{methods_list[pay_m]}}<input type="checkbox" value={{pay_m}} name="mycheckbox">
            {% endfor %}
        <label for="time">Time of order</label>
            <input
              type="time"
              name="order_time"
            />   
        <label>Commission</label>
            <input
              name="commission"
            />  
        <label>Max Number of Participants</label>
            <input
              name="participants_max_num"
            />  
               
        <button type="submit" class="btn btn-default">Go</button>
        </div>
    </form>
</body>
</html>