{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<div class="menu" align="center">

    <button type="submit" class="btn btn-primary"
          style="font-family:candara light;font-weight:800;font-size:20px;background-color:#00D748; border-color:#00D748; width: 100%; margin-left: 10%; margin-right: 5%;">JOIN AN ORDER</button>
    <button type="submit" class="btn btn-primary" onclick="location.href='/create_order';"
          style="font-family:candara light;font-weight:800;font-size:20px;background-color:#434343; border-color:#434343; width: 100%; margin-left: 5%; margin-right: 10%;">CREATE A NEW ORDER</button>

</div>

<div class="menu" align="center">

    <button type="submit" class="btn btn-primary" onclick="location.href='/orders_you_joined';"
          style="font-family:candara light;font-weight:800;font-size:20px;background-color:#FFCA00; border-color:#FFCA00; width: 100%; margin-left: 10%; margin-right: 5%;">ORDERS YOU JOINED</button>
    <button type="submit" class="btn btn-primary" onclick="location.href='/orders_you_created';"
          style="font-family:candara light;font-weight:800;font-size:20px;background-color:#FF3D57; border-color:#FF3D57; width: 100%; margin-left: 5%; margin-right: 10%;">ORDERS YOU CREATED</button>

</div>


{% endblock %}
